html {
    font-size:16px;
}

.flexRowCenterGap10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.puzzleGrid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

.puzzleCell {
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;
}

.sessionGrid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}

.sessionCell {
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;
}