:root {
    --main-bg-color: #457b9d;
}

html {
    font-size: 16px;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    background: var(--main-bg-color);
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}

h1.title {
    font-size: 32px;
    color: white;
    margin: 0px;
    padding: 16px 0px;
    text-align: center;
}

.mainFlex {
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.mainView {
    flex-grow: 1;
    background: white;
    opacity: 0.8;
    border-radius: 32px 32px 0px 0px;
    padding: 20px;
}

.flexRowCenterGap10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.puzzleGrid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

.puzzleCell {
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sessionGrid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}

.sessionCell {
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    flex-grow: 1;
}

.deleteButton {
    height: 20px;
    color: red;
}

.displayNone {
    display: none;
}